/*COLOCAR EM TODAS AS PÁGINAS*/
*{
    margin: 0;
    padding: 0;
    outline: 0px;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #1B1F24; 
    color: white;
}
/*CABEÇALHO*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #121418;
}

.logo img{
    width:85px;
    padding-left: 30px;
}

.menu {
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 45px;
    justify-items: center;
}

.menu a {
    color: white;
    transition: transform 1s;
}
  
.menu a:hover,
.menu a:focus {
    color: goldenrod;
    text-decoration: solid;
    transform: translateX(8px) scale(1.2);   
}
/*COLOCAR EM TODAS AS PÁGINAS, ATÉ AQUI*/
.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main{
    display: block;
}

.column {
    float: left;
    width: 50%;
    padding: 10%;
    height: 300px; 
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.imgTitulo{
    justify-content: center;
}

.imgMain{
    width: 150%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.titulo-home{
    text-align: center;
}

.texto-alternado{
    margin: 0 auto;
    width: 60%;
}

.texto-direita{
    text-align: right;
}
.texto-direita{
    text-align: left;
}

main p{
    margin-bottom: 15px;
}
