/*COLOCAR EM TODAS AS PÁGINAS*/
*{
    margin: 0;
    padding: 0;
    outline: 0px;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --cor--1:#006400;
    --cor--2:#2DC083;
    --cor--3:#daa520;
    --cor--4:#dff6ec;
}
body{
    background-color: var(--cor--4); 
    color: white;
}
/*CABEÇALHO*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
    background-color: #2DC083;
}

.logo img{
    margin: 0;
    width:85px;
    padding-left: 30px;
}

.menu {
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 45px;
    justify-items: center;
}

.menu a {
    color: white;
    transition: transform 1s;
}
  
.menu a:hover,
.menu a:focus {
    color: darkgreen;
    text-decoration: solid;
    transform: translateX(8px) scale(1.2);   
}

.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*TÉRMINO DO CABEÇALHO/INÍCIO DO MAIN*/

main{
    height: 100vw;
    background-color: white;
    color: darkgreen;
    min-width: 300px;
    max-width: 900px;
    text-align: justify;
    margin: auto;
    margin-bottom: 30px;
    padding: 25px;
    box-shadow: 0px 0px 10px #2DC083;
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    align-items: center ;
    flex-wrap: wrap;
}
h1, h2, h2, p, li{
    margin-bottom: 30px;
}
h1{
    color: darkgreen;
    text-align: center;
}
h2, h3{
    text-align: center;
}
.centro{
    text-align: center;
}
.aviso{
    margin-bottom: 20px;
    text-align: center;
}


/*CALCULADORA*/

.calculadora{
    position: absolute;
    background-image: linear-gradient(45deg, rgb(128, 104, 17), rgb(21, 118, 27));
    border-radius: 15px;
    padding: 10px;
    margin-top: 50px;
    
}
.calculadora h1{
    color: white;
    margin-bottom: 5px;
}
.botao{
    width: 50px;
    height: 50px;
    background-color: rgb(59, 61, 4);
    color: azure;
    font-size: 25px;
    cursor: pointer;
    border: none;
    margin: 3px;
}
.botao:hover{
    background-color: rgb(29, 185, 12);
}

#resultado{
    background-color: rgb(226, 246, 162);
    color: black;
    height: 30px;
    font-size: 25px;
    text-align: right;
    padding: 5px;
}
.calculadora-posição{
    margin-left: auto;
    
    margin-top: 50px;
}
/*FIM CALCULADORA*/