/*COLOCAR EM TODAS AS PÁGINAS*/
*{
    margin: 0;
    padding: 0;
    outline: 0px;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #1B1F24; 
    color: white;
}
/*CABEÇALHO*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #121418;
}

.logo img{
    width:85px;
    padding-left: 30px;
}

.menu {
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 45px;
    justify-items: center;
}

.menu a {
    color: white;
    transition: transform 1s;
}
  
.menu a:hover,
.menu a:focus {
    color: goldenrod;
    text-decoration: solid;
    transform: translateX(8px) scale(1.2);   
}

.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*TÉRMINO DO CABEÇALHO/INÍCIO DO MAIN*/

main{
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    align-items: center ;
    flex-wrap: wrap;
}
h1{
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 40px;
    text-align: center;
}
.curso{
    justify-content: center;
    margin-bottom: 35px;  
}
.curso h2{
    text-align: center;
}
.curso-flex{
    display: flex;
    margin-top: 20px;
    margin-left: 25%; /* posiciona na metade da tela */ 
}

.cursos-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.cursos-info p{
    width: 420px;
    text-align: justify;
    margin-bottom: 10px;
}

table{
    color: darkgreen;
    border-collapse: collapse; /* CSS2 */
    background: #ffffff;
    width: 420px;
    margin-top: 5px;
    margin-bottom: 15px;
}
table td{
    text-align: right;
    border: 1px solid goldenrod;
}
table th{
    text-align: left;
    border: 1px solid goldenrod;
}
.botao__tabela{
    margin-top: 10px;
    border: none;
    width: 140px;
    height: 25px;
    background-color: goldenrod;
    border-radius: 5px;
    transition: 300ms;
}
.botao__tabela a{
    color: darkgreen;
    font-size: 15px;
}

.curso-imagens{
    display: flex;
    width: 50%;
    align-items: center;
}
.curso-img{
    align-items: center;
    width: 180px;
    height: 180px;
}   
